.wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.time {
  font-size: 1em;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.day {
  height: 100%;
  font-size: 1.6em;
  font-weight: 500;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);

  text-align: center;
  align-items: center;
}
